body {
  background-color: black;
}

.header .header-top {
  background-color: black;
}

.header .header-top .header-info ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 6px;
  padding: 2px;
}

.header .header-top .header-info ul li {
  letter-spacing: 0.2px;
  line-height: 16px;
  font-size: 12px;
  color: #ffffff;
}

.header .header-top .header-info ul li a img {
  margin-top: 32px;
}

.header .header-top .log img {
  margin-top: 46px;
}

.header-area {
  border-bottom: 1px solid #d6ac76;
}

.header-area .navbar-nav {
  margin-bottom: 3px;
}

.header-area .navbar-nav .nav-item .nav-link {
  letter-spacing: 1.4px;
  line-height: 16px;
  font-size: 13px;
  color: #ffffff;
}

.header-area .input-wrapper {
  position: relative;
  margin-right: 0px;
}

.header-area .input-wrapper input {
  padding-left: 25px;
  border: none;
  background-color: black;
  border-bottom: 1px solid white;
  padding-right: 50px;
}

.header-area .input-wrapper img {
  position: absolute;
  left: 3px;
  top: calc(50% - 0.5em);
}

.section {
  height: 526px;
}
