$min-color:black;
$letter-Spacing:0.2px;
$line-Height:16px;
$font-Size:12px;
$font-color:#ffffff;
$margin-top:32px;
$height: 2548px;
// @font-face{
//     font-family: "GascogneSerialRegular";
//     src : url("../fonts/GascogneSerial-Regular.woff")
// }
body{
    background-color: $min-color;
    // font-family: 'GascogneSerialRegular'
}

.header{
    display: flex;
    .header-top {
        background-color: $min-color;
        .header-info{
            ul {
                list-style-type: none;
                display: inline-block;
                text-align: center;
                margin: 6px;
                padding: 2px;
            }
            ul li{
                letter-spacing: $letter-Spacing;
                line-height: $line-Height;
                font-size: $font-Size;
                color: $font-color;
				a img{
					margin-top: $margin-top;
                }
            }
		}
        .log{
            img{
                margin-top: $margin-top * 1.4375;
            }
        }
    }
}

.header-area{
    border-bottom: 1px solid #d6ac76;
   .navbar-nav{
       margin-bottom: 3px;
       .nav-item{
           .nav-link{
                letter-spacing: $letter-Spacing *7;
                line-height: $line-Height;
                font-size: $font-Size +1;
                color: $font-color;
                 margin-right: 10px;
           }
       }
   }
   .navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: $font-color;
    border:none;
    margin-left: 20px;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
    
}
   .input-wrapper{
    position: relative;
    margin-right:0px ;
    input{
        padding-left: 25px;
        border: none;
        background-color: $min-color;
        border-bottom: 1px solid white;
        padding-right: 50px;
      }
      img{
        position: absolute;
        margin-top: 4px;
      }
  }
}

@media(max-width:576px){
  .header-info .info2{
      margin-top: -100px
  }
}

@media(max-width:1199px){
    .header-area .navbar-nav .nav-item .nav-link{
        font-size: 10px;
        
    }
}

